@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-shadow: 2px 2px 8px #636363;
    font-family: 'Rubik Beastly', cursive;
    font-weight: 100;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black; 
}
 
h3 {
    margin-top: 2px;
    font-family: 'Rubik Beastly', cursive;
    font-weight: 100;
    color:rgb(153, 153, 153);
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#playground {
    display: flex;
    flex-direction: row;
    border: 3px dotted black;
    width: 800px;
    height: auto;
    padding:20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px grey inset; 
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    box-shadow: 5px 5px 5px grey inset;
}

#canvas {
    display:grid; 
    width: 550px;
    height: 550px;
    background-color: white;
    border: 3px dotted black;
    box-shadow: 5px 5px 10px grey inset;
}

.square {
    border: 1px solid rgba(194, 197, 170, 0.2);  
}

#canvas-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding:20px;
    gap: 10px;
}

button {
    font-family: 'Rubik Beastly', cursive;
    font-weight: 50;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 2px #636363;
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(228, 228, 228);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    border: 1px dotted black;
    border-radius: 8%;
    box-shadow: 8px 8px 5px rgb(116, 116, 116);
  }

button:hover {
    border: 1px dotted rgb(77, 77, 77);
	box-shadow: 5px 5px 5px grey inset;   
}

#rainbow:hover {
    background-image: linear-gradient(to left, violet, indigo, orange, red, blue, green, yellow);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgb(77, 77, 77, 0.6);
}

#default:hover {
    color: red;
    text-shadow: 1px 1px 1px rgb(77, 77, 77, 0.6);
}

#grayscale:hover {
    background-image: linear-gradient(to left, rgb(94, 94, 94), rgb(66, 66, 66), rgb(185, 185, 185), rgb(134, 134, 134), rgb(109, 109, 109));
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgb(77, 77, 77, 0.2);
}

#mono:hover {
    background-image: linear-gradient(to left, rgb(189, 189, 189), rgb(34, 34, 34));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(228, 228, 228, 0.1);
}

#eraser:hover {
   -webkit-text-stroke-color: rgb(214, 214, 214);
    transition: 0.2;
}

#clear:hover {
   -webkit-text-stroke-color: rgb(87, 87, 87);
    transition: 0.2;
}

#reset:hover {
   -webkit-text-stroke-color: rgb(173, 0, 0);
    transition: 0.2;
}

#color-picker:hover {
    -webkit-text-stroke-color: rgb(1, 153, 145);
    transition: 0.2;
}